.line {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  text-align: center;
  background-color: #fafafa;
}

.lineActive {
  background-color: #f0f0f0;
}

.line div {
  flex: 1 0 5%;
}

.input {
  margin: 0 4px;
}